html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: url(../images/bg/final.jpg) fixed;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #00C6F0;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: transparent;
  height: 186px;}
  
#banner
{ width: 750px;
  float:right;}
  
 /*slides*/

#slidy-container {

overflow: hidden;
  float:right;
  width: 750px;
  margin-right: 15px;
  margin-top:10px;
}

#slidy { margin: 0; font-size: 0; position: relative; width: 500%; }
#slidy img { width: 30%; }  

#logo
{ width: 1000px;
  position: relative;
  height: 140px;
  background: #F5F5F5;}
  
#logo_text img {
width:280px;
}

#logo #logo_text 
{ position: absolute; 
  bottom:3px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #323232;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #00C6F0;}

#logo_text a:hover .logo_colour
{ color: #DDD;}

#logo_text h2
{ 
font-size: 200%;
padding: 4px 0 0 0;
color: #999;
margin-left: 206px;}

#menubar
{
width: 1000px;
height: 45px;
padding-right: 1px;
background: #DDD;
border-top: 1px solid #CCC;} 

ul#menu
{ float: left;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 8px 4px 0 4px;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #BBB;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 20px 5px 11px;}

ul#menu li.selected
{ margin: 8px 4px 0 13px;
  background: #00C6F0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #00C6F0;
  color: #FFF;}

ul#menu li a:hover
{ color: #323232;}

#site_content
{ width: 1000px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 0 0 10px 0;
  background: #fff;} 

#sidebar_container
{ float: left;
  width: 222px;}

.sidebar_base
{ width: 222px;
  height: 14px;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 10px 0 16px 0;}

.sidebar_item
{ 
background: #2080bf;
color: #FFF;
font-size: 19px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 500;
font-style: normal;
line-height: 40px;
list-style: none;
border-top: 1px solid #3494d3;
padding: 15px 5px 5px 15px;
display: block;
width: 180px;
text-decoration: none;
}

.side_bar {
padding:4px;
}

.sidebar_menu {
text-decoration:none; 
color:#ffffff; 
font-size:18px;
}

.sidebar_menu_active {
color:#00C6F0;
text-decoration:none; 
font-size:18px;
}

.sidebar li a.selected
{ color: #444;} 

.sidebar ul
{ margin: 0;} 

#content
{ 
text-align: left;
width: 760px;
padding: 0 0 0 5px;
float: right;
margin-top: 15px;
margin-right: 10px;
margin-bottom: 100px;}
  
#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background-image:url(../images/bg/footer.jpg);
  border-top: 1px solid #AAA;
  color: #FFF;}

.footer_menu {
color:#00C6F0;
}
  
#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #00C6F0;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 66px;}

.form_settings p
{ padding: 0 0 4px 0;
  font-size:18px;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
/*table*/

table {

border-spacing: 2px;
border-color: gray;
box-shadow:5px #cfcdcd inset;
-webkit-box-shadow:0 0 1px #cfcdcd inset;
-moz-box-shadow:0 0 1px #cfcdcd inset;
-o-box-shadow:0 0 1px #cfcdcd inset;
}

.tab {
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
padding: 10px;
margin-bottom: 30px;
background: #cfcdcd;
box-shadow: 0 0 1px #cfcdcd inset;
-webkit-box-shadow: 0 0 1px #cfcdcd inset;
-moz-box-shadow: 0 0 1px #cfcdcd inset;
}

td {

display:table-cell;
vertical-align:inherit;
}

.items {
margin-left:10px;
color:#ff0000;
font-size:20px;
word-break:break-all;
}

.prices {

color:#ff0000;
font-size:35px;
}

.desc {

margin-left:10px;
font-size:17px;
}

.view:hover {

opacity:0.7;
}

#table {

float:right;
width:750px;
margin:auto;
}
	
table {

width:100%;
padding:10px;
background-color:#ffffff;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-o-border-radius:10px
}

table th {

float:left;
font-size:28px;
color:#0000ff;
}

table td {

font-size:18px;
}

.choose {

color:#0000ff;
}

.link1 {

color: #b0b1b8;
text-decoration: none;
font-family: Arial, Tahoma, Verdana, Helvetica;
font-weight: bold;
font-size: 11px;
font-style: normal;
line-height: 26px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-right-radius: 2px;
border-top-left-radius: 2px;
padding: 4px;
background: #242529;
text-decoration: none;
}

.link1:hover {

opacity:0.5;
}

.border_brand {
border:5px solid #3494d3;
border-radius:4px;
width:110px;
height:53px;
background-color:#ffffff;
}

.border_brand:hover {
opacity:0.7;
}

.color {
background-color:#d0d0d0;
opacity:0.7;
}